appdirs==1.4.3
Beaker==1.8.1
certifi==2018.4.16
chardet==3.0.4
docopt==0.6.2
evdev==0.7.0
future==0.16.0
gufw==18.4.0
idna==2.6
keyutils==0.5
lightdm-gtk-greeter-settings==1.2.2
lios==2.5
louis==3.4.0
lutris==0.4.14
lxml==4.1.1
Mako==1.0.7
MarkupSafe==1.0
menulibre==2.1.3
mugshot==0.3.2
npyscreen==4.10.5
numpy==1.13.1
olefile==0.45.1
packaging==16.8
pacman-mirrors==4.6
peewee==3.2.3
pexpect==4.4.0
Pillow==5.0.0
powerline-status==2.6
psutil==5.4.3
ptyprocess==0.5.2
pycairo==1.16.2
pycollada==0.5
pycountry==18.2.23
pycrypto==2.6.1
pyenchant==2.0.0
pygobject==3.26.1
pygtkspellcheck==4.0.5
pyinsane==1.3.8
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.6.1
python-debian==0.1.28
python-distutils-extra==2.39
python-telegram-bot==10.0.2
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.18.4
six==1.11.0
streamlink==0.10.0
team==1.0
udiskie==1.7.3
urllib3==1.22
virtualenv==15.1.0
websocket-client==0.47.0
